.mainContent {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.mainBackGround {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.mainBackGround img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.mySwiperInner {
  position: absolute;
  width: 450px;
  top: 8%;
  right: 13%;
  font-size: 45px;
}
.mainButton {
  position: absolute;
  right: 20px;
  top: calc(100vh - 70px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #941cb2;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.mainButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SeconsSection {
  width: 100%;
  height: 100vh;
  background-color: #3d0f0f;
}
.mainText {
  padding-top: 30px;
  background-color: #d1d1d1;
  padding-bottom: 30px;
}
.title {
  margin: 30px;
  text-align: center;
}
.mainTextContent {
  text-indent: 20px;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-size: 17px;
  line-height: 33px;
  font-weight: 400;
  border: 10px solid #fff;
  border-radius: 46px;
}
.formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formText {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.formClose {
  width: 24px;
  height: 24px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
.formSendButton {
  display: block;
  width: 150px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.formInputs input {
  padding: 3px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #bf8543;
}
.formInputs input:focus {
  outline: none;
  font-weight: 700;
  border-bottom: 2px solid #bf8543;
}
.formInputs textarea {
  padding: 3px;
  width: 100%;
  height: 150px;
  border: 2px solid #bf8543;
  resize: none;
}
.formInputs textarea:focus {
  outline: none;
  font-weight: 700;
}
@media (min-width: 1000px) {
  .mainButton:hover {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    padding: 4px;
    padding-left: 15px;
  }
  .formSendButton:hover {
    background-color: #941cb2;
    color: #fff;
  }
  .mainButton:hover img {
    display: none;
  }
}
@media (max-width: 1000px) {
  .mainButton {
    width: 150px;
    height: 40px;

    border-radius: 6px;
    padding: 4px;
    padding-left: 15px;
  }
  .mainButton img {
    display: none;
  }
}
@media (max-width: 1700px) {
  .mySwiperInner {
    top: 8%;
    width: 400px;
    right: 3%;
  }
}
@media (max-width: 1300px) {
  .mySwiperInner {
    font-size: 35px;
  }
}
@media (max-width: 1300px) {
  .mySwiperInner {
    right: 0;
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .mainContent {
    background-position: 60%;
  }
  .mySwiperInner {
    top: 1%;
    width: 400px;
    right: 0;
    left: 10%;
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .mainBackGround img {
    object-position: center;
  }
  .mainContent {
    background-position: 45%;
  }
  .mainButton {
    top: calc(100vh - 100px);
    width: 250px;
    height: 50px;
    border: 4px solid #fff;
    padding: 11px 0;
    font-size: 14px;
    text-align: center;
  }
  .mySwiperInner {
    top: 16px;
    width: 250px;
    right: 0%;
    left: 7px;
    font-size: 18px;
  }
}
