.SectionLessons {
  width: 100%;
  min-height: calc(100vh - 40px);
  background-color: #bf8543;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
.title {
  text-align: center;
  font-size: 35px;
  padding: 75px;
  color: #fff;
}
.mainPhoto {
  width: 100%;
  height: 30vh;
}
.itemInner {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.itemInnerImage {
  padding: 5px;
  width: 50%;
  height: 30%;
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
}
.itemDecrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}
.itemSubText {
  margin-bottom: 20px;
}
.itemDecrpPrices {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 60px;
}
.preicesInner {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #cfd0d1;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in;
}
.preicesInner p {
  padding: 5px 10px;
}
.itemPrice {
  font-weight: 700;
  max-width: 120px;
  font-size: 16px;
  text-align: center;
}
.itemButton {
  cursor: pointer;
  border: none;
  width: 90px;
  padding: 5px;
  font-size: 16px;
  background-color: #cfd0d1;
}
.lessonsItem {
  width: 100%;
}
.lessonsItem h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 25px;
}

.itemSubTitle {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formText {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.formClose {
  width: 24px;
  height: 24px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}
.formSendButton {
  display: block;
  width: 150px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
.formInputs input {
  padding: 3px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #bf8543;
}
.formInputs input:focus {
  outline: none;
  font-weight: 700;
  border-bottom: 2px solid #bf8543;
}
.formInputs textarea {
  padding: 3px;
  width: 100%;
  height: 150px;
  border: 2px solid #bf8543;
  resize: none;
}
.formInputs textarea:focus {
  outline: none;
  font-weight: 700;
}
@media (min-width: 1000px) {
  .preicesInner:hover {
    box-shadow: 4px 8px 8px 0px rgba(0, 1, 2, 0.2);
  }
}
@media (max-width: 900px) {
  .itemDecrp {
    width: 50%;
  }
  .itemInnerImage {
    width: 50%;
  }
  .lessonsBox {
    flex-wrap: wrap;
  }
  .lessonsItem {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .itemDecrpPrices {
    justify-content: center;
  }
  .preicesInner {
    min-width: 205px;
  }
  .itemInnerImage {
    width: 95%;
  }
  .itemDecrp {
    width: 95%;
  }
  .itemInner {
    flex-wrap: wrap;
  }
}
